<navigation></navigation>

<div class="container">
    <page-header content="vm.pageHeader"></page-header>

    <div class="row">
        <div class="col-sm-12">
            <p class="lead">{{vm.name}}</p>
            <form ng-submit="vm.onSubmit()">
    <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
    <div class="form-group">
        <label for="name">Test Result</label>
        <p>
            Passed
            <input id="billing-yes" class="form-control" type="radio" name="resultb" ng-model="vm.test.result" ng-value="true">
        </p>
        <p>
            Failed
            <input id="billing-no" class="form-control" type="radio" name="resulta" ng-model="vm.test.result" ng-value="false">
        </p>

        <input type="text" class="form-control" id="testDate" placeholder="Enter date eg March 21, 2012" ng-model="vm.test.testDate">
        

    </div>

    <button type="submit" class="btn btn-default">Edit</button>
</form>
        </div>
    </div>

    <footer-generic></footer-generic>
</div>