<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-xs-12 col-sm-8">
        <a href="/auth/create">Create New</a>
      <div class="error">{{ vm.message }}</div>
      <div class="row list-group">
        <div class="col-xs-12 list-group-item" ng-repeat="company in vm.data.companies">
		<h4>{{ company.name }}</h4>
		  <p>
		  <a href="/auth/edit/{{company._id}}">Edit</a>
		  </p>
            <p>
                <a href="/auth/detail/{{company._id}}">Detail</a>
            </p>
            <p>
                <a href="#" ng-click="vm.deleteCompany($event,company._id)">Delete</a>
            </p>
          <p>
            <span class="label label-warning label-facility">
              {{ company.name }}
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <p class="lead">{{ vm.sidebar.content }}</p>
    </div>
  </div>

  <footer-generic></footer-generic>
</div>